* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.content-box {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.weather-icon {
  width: 150px;
  height: 150px;
}
.input-box {
  margin-top: 10px;
}
input {
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 8px 12px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.result {
  margin-top: 20px;
}
