* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 90%;
}

body {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    95deg,
    rgba(191, 141, 240, 1) 0%,
    rgba(107, 87, 236, 1) 100%
  );
}

.contact {
  width: 65%;
  height: 87%;
  margin: auto;
  border-radius: 5px;
  box-shadow: -10px 10px 18px -6px rgba(0, 0, 0, 0.75);
  font-size: 0;
}

.contact-title {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding-top: 120px;
  padding-left: 30px;
  text-align: center;
  padding-right: 30px;
  background-color: #01b6d1;
  vertical-align: top;
}

.contact-title h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-title p {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0 30px;
}

.contact-info {
  height: 100%;
  width: 50%;
  padding: 5px 50px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}

.contact-info h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  font-weight: 800;
}

.contact-info p {
  color: gray;
  font-size: 15px;
}

.contact-form {
  width: 100%;
  font-size: 0;
  vertical-align: top;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  padding: 20px 10px;
  background: whitesmoke;
  margin: 10px 0;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.contact-form button {
    margin-left: 180px;
    padding: 15px 40px;
    background-color: #01b6d1;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}