.app-container {
  text-align: center;
  padding: 50px;
}

.lists-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

button {
  background-color: rgb(33, 179, 33);
  color: white;
  font-weight: 600;

  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
