* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #10141e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-wrapper {
  margin-bottom: 70px;
}

.input-groups {
  width: 23%;
  height: 45vh;
  background-color: #161d2f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.form-header {
  width: 100%;
  padding-left: 47px;
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 100%;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

.input-groups input {
  padding: 10px;
  width: 80%;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0px;
  border-style: none;
  border-bottom: 1px solid rgba(90, 105, 143, 1);
}

.create-account-btn {
  background: rgba(252, 71, 71, 1);
  padding: 10px;
  width: 80%;
  border-style: none;
  border-radius: 6px;
}

.create-account-btn a {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.login-redirect {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.login-redirect a {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(252, 71, 71, 1);
}
