* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}
body{
    background-color: #F5F7FA;
}
.container {
  margin: 0 13%;
}

.header-items {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}

.logo h2{
    font-size: 30px;
}
.header-items-menu nav ul {
  display: flex;
  gap: 30px;
}

.header-items-menu nav ul li a{
    font-size: 20px;
    color: #18191F;
    font-weight: 500;
}

.header-items-buttons :nth-child(1){
    width: 90px;
    height: 30px;
    color: #4CAF4F;
    background: transparent;
    border-style: none;

}

.header-items-buttons :nth-child(2){
    width: 90px;
    height: 30px;
    border-style: none;
    color: white;
    background-color: #4CAF4F;
    border-radius: 5px;
}

.company-intro{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.company-intro-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.company-intro-info div{
    width: 100%;
}

.company-intro-info h2{
    font-size: 60px;
    font-weight: 600;
}
.company-intro-info h2 span{
    color: #4CAF4F;
}
.company-intro-info p{
    font-size: 20px;
    margin-block: 30px;
    color: #717171;
}
.company-intro-info button{
    width: 110px;
    height:50px;
    background-color: #4CAF4F;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.our-clients{
    width: 100%;
    height: 200px;
    border: 1px solid red;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients div h2{
    font-size: 30px;
    text-align: center;
}
.our-clients div p{
color:#717171;
}


