* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  
  .employeeFormWrapper {
    width: 50%;
  }
  .employeeTable {
    width: 50%;
  }

  .employeeTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .employeeTable th,
  .employeeTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .employeeTable th {
    background-color: #f4f4f4;
  }
  
  .employeeForm {
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .employeeForm input{
    padding: 5px;
  }

  .employeeForm button{
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
  }














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































   